{% load staticfiles %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}base{% endblock %}</title>
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/template_style.css' %}" rel="stylesheet" type="text/css">

    {% block script %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body class="template-bg-gray">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>

    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
    <nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <ul class="nav navbar-nav navbar-left">
                <li><img class="pull-left" src="{% static 'images/data.png' %}"></li>
                  <li><a href="#" class="navbar-brand" style="font-size: 35px;">QzoneInfo</a></li>
              </ul>
          </div>


{#          <div class="navbar-header">#}
{#              <img class="pull-left" src="{% static 'images/data.png' %}">#}
{#              <a href="#" class="navbar-brand">QzoneInfo</a>#}
{#          </div>#}
          <ul class="nav navbar-nav navbar-right">
              <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
              <li><a href="signup"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
          </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}

</body>
</html>

{% block script_out %}
{% endblock %}